.main{
			text-align: center;
			margin:0 auto;	
}		
.main input{
			
			font-weight: bold;
			border-radius: 10px;
}

.blank{
	display: none;
}

.red{
	color:red;
}
.green{
	color: green;
}